/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* BEM RULE FOR NOTATION:
   BLOCK: Standalone component that is meaningful on its own
   ELEMETN: Part of a block that has no standalone meaning
   MODIFIER: A different version of a block or an element 
   .block {}
   .block__element {}
   .block__element--modifier {} */
/* FOR ARCHITECTURE USE 7-1 PATTERN
   7 Different folders for partial Sass files, and 1 main Sass file to import
   other files into a complied CSS stylesheet */


//Importting Sass files, we do not need the _ prefix nor the extension .scss

// ABSTRACTS
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// BASE
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// COMPONENTS
@import "components/button";
@import "components/composition";
@import "components/feature-box";

// LAYOUT
@import "layout/grid";
@import "layout/header";

// PAGES
@import "pages/home.scss";