body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0px;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* Hack to fix an animation that shakes */
  backface-visibility: hidden; 
  margin-bottom: 6rem;

  &--main {
    /* Span is default an inline element so we change it */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* Applying keyframe animation */
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* This controls the animation's workflow */
    animation-timing-function: ease-out;
    /* other useful properties to animate */
    /* animation-delay: 3s;
    animation-iteration-count: 3; */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    /* Check how you import the fonts in head tag, there you have the weight range */
    font-weight: 700;
    letter-spacing: 1.95rem;
    /* Applying animation shorthand */
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // Style for custom background color for text
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  // quick fix for using -webkit new stuff sass lint on vscode
  background-clip: unset;

  -webkit-background-clip: text;
  color: transparent;

  letter-spacing: .2rem;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrahp {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

// * Small adjustments
::selection {
  background-color: $color-primary;
  color: $color-white;
}
