body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* Hack to fix an animation that shakes */
  backface-visibility: hidden; 
  margin-bottom: 6rem;

  &--main {
    /* Span is default an inline element so we change it */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* Applying keyframe animation */
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* This controls the animation's workflow */
    animation-timing-function: ease-out;
    /* other useful properties to animate */
    /* animation-delay: 3s;
    animation-iteration-count: 3; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    /* Check how you import the fonts in head tag, there you have the weight range */
    font-weight: 700;
    letter-spacing: 1.95rem;
    /* Applying animation shorthand */
    animation: moveInRight 1s ease-out;
  }
}